<mat-toolbar class="toolbar" color='primary'>
    <div>
        <a routerLink="/dashboard" routerLinkActive="active" mat-button>Panel</a>
        <a routerLink="/draw/list" routerLinkActive="active" mat-button>Çizim</a>
        <a routerLink="/customer" routerLinkActive="active" mat-button>Müşteri</a>
        <a routerLink="/product" routerLinkActive="active" mat-button>Ürün</a>
        <a routerLink="/stock" routerLinkActive="active" mat-button>Stok Durumu</a>
    </div>
    <div>
        <button routerLink="/option" routerLinkActive="active" mat-icon-button>
            <mat-icon>settings_applications</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</mat-toolbar>